@import "compass";
@import "normalise";
@import "partials/_susy";
@import "base";
@import "defaults";
@import "grid";
@import "widgets";
@import "headings";
@import "header";
@import "menu-button";
@import "nav";
@import "lists";

@import "work-gallery";




    // Extensions (Silent Classes)
    // -------------------------

        // Round corners
            %round { border: solid 1px $grayLighter; @include border-radius(10px); @include box-shadow(3px 3px 3px rgba($grayLight, 0.3)); }



        .conference-list {
            //list-style-type: disc;
            @extend .list-vertical;
            dd { @extend %no-margin-or-padding; margin-bottom: $baseLineHeight; }
        }


        .article-footer { font-style: italic }











.article-list-widget {
    //@extend %aside-widget;
    @include aside-widget;

}

.lt-ie9 .article-list-widget {
    display: block;
}

.about-vcard-widget {
    //@extend %aside-widget;
    @include aside-widget;
}

.sites-widget {
    //@extend %aside-widget;
    @include aside-widget($smallSide: true);
}








// *****************************************************************************************
// Blog list itmes
// *****************************************************************************************

    .article { @include main-widget; }

    .article-large {
        @include main-widget($smallSide: true);
    }

// *****************************************************************************************
// Blog list itmes
// *****************************************************************************************

    %list {
       list-style-type: none; margin: 0 0 $baseLineHeight*2 0;
        padding-bottom: $baseLineHeight;
        li {
            border-bottom: solid 1px #DFDFDF; /*margin: 0 10/300*100%;*/
            &:nth-child(even) { background-color: lighten($mainColor, 20%); }
            &:last-child { border-bottom:none; margin-bottom: 0 }
            //&:first-child a { padding-top: 0 }

        }

        a {
            display: block;
            margin: 0;
            padding: $baseLineHeight 10px/($phone - 10px) * 100%;
            &:hover { text-decoration:none; }
            & * {color: $bodycolor;}

        }
    }

    .standard-list {
        @extend %list;
        padding:0; margin: 0;
    }

   .blog-list { @include main-widget; @extend %list;

   //list-style-type: none; margin: 0 0 $baseLineHeight*2 0;
        // padding-bottom: $baseLineHeight;
        // li {
        //     border-bottom: solid 1px #DFDFDF;
        //     &:nth-child(even) { background-color: lighten($mainColor, 20%); }
        //     &:last-child { border-bottom:none; margin-bottom: 0 }
        // }

        // a {
        //     display: block;
        //     margin: 0;
        //     padding: $baseLineHeight 10px/($phone - 10px) * 100%;
        //     &:hover { text-decoration:none; }
        //     & * {color: $bodycolor;}

        // }

        p { margin-bottom: 0; }

        @include respond-to(phone-landscape) {
           a { padding: $baseLineHeight 10px/($phone-landscape - 10px) * 100%; }
        }
        @include respond-to(smalltablet) {
            a { padding: $baseLineHeight 10px/($smalltablet - 10px) * 100%; }
        }
        @include respond-to(tablet-portrait) {
            a { padding: $baseLineHeight 10px/($tablet-portrait - 10px) * 100%; }
        }
        //@include respond-to(desktop) {
        @include respond-wrapper-fallback(desktop, lt-ie9) {
            a { padding: $baseLineHeight 10px/($desktop - 10px) * 100%; }
        }
        @include respond-to(widescreen) {
            a { padding: $baseLineHeight 10px/($widescreen - 10px) * 100%; }
        }



    }

    .blog-list-title { margin: 0; padding: 0; }

    .lt-ie9 {
        .blog-list {
                a { padding: $baseLineHeight 10px/($desktop - 10px) * 100%; }
        }
    }

// *****************************************************************************************
// Helpers
// *****************************************************************************************
@include respond-to(tablet-portrait) {
    .nav .hide-large { display:none; }
}


.video {width: 80%; margin: $baseLineHeight}
.footer-img {width: auto; margin-right: 10px; float:left}
.tweet {overflow: hidden;}
.tweet-contact {overflow:hidden; padding-top: $baseLineHeight/2}